<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
        <div id="<%= dom_id(post) %>" class="container container-blue">
          <header>
              <%= post.title %> by <%= post.user.name %>
          </header>
          <main><%= post.body %></main>
          <footer><%= post.tags %>
            <% if post.user == @current_user %>
                <%= link_to 'Show', post %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </footer>
        </div>
    <% end %>
<% else %>
    There are no posts yet.
<% end %>
